$fontfamily: "Roboto Slab", serif;

.modal-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url("https://i.pinimg.com/736x/5f/11/77/5f1177f056c60fd581839d98e9b8b08d.jpg");
  background-size: 100% 100%;

  & h1 {
    font-size: 27px;
    font-family: 'Alfa Slab One', cursive;

    @media all and (max-width: 830px) {
      font-size: 20px;
    }

    @media all and (max-width: 630px) {
      font-size: 10px;
    }
  }

  & h2 {
    font-size: 20px;
    font-family: 'Silkscreen', cursive;

    @media all and (max-width: 830px) {
      font-size: 15px;
    }
  }

  & h3 {
    width: 60%;
    font-size: 13px;
    font-family: $fontfamily;
    text-align: justify;

    @media all and (max-width: 830px) {
      font-size: 10px;
    }

    @media all and (max-width: 630px) {
      text-align: start;
      font-size: 10px;
    }
  }

  & img {
    width: 150px;
    border-radius: 10px;

    @media all and (max-width: 830px) {
      width: 120px;
    }

    @media all and (max-width: 630px) {
      width: 100px;
    }
  }

  & .modal-button {
    margin-bottom: 15px;
    align-items: center;
    background-color: red;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
      "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
      "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
      color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

  .modal-button:hover,
  .modal-button:focus {
    background-color: grey;
    color: #ffffff;
  }

  .modal-button:active {
    background: #042444;
    color: rgb(255, 255, 255, 0.7);
  }

  .button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.3);
  }

}