.dropdown {

  & label {
    font-family: "Fjalla One", "sans-serif";
    font-size: 15px;
    color: white;
    margin: 10px;

  }

  & select {
    margin-right: 50px;
    width: 150px;
    height: 30px;
    border: 1px solid red;
    font-family: "Fjalla One", "sans-serif";
    font-size: 18px;
    font-weight: bolder;
    color: black;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px #ccc;
    cursor: pointer;
  }

}