.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;

  & label {
    font-family: "Fjalla One", "sans-serif";
    font-weight: bolder;
    font-size: 30px;
  }
  & select {
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border: 1px solid white;
    font-family: "Fjalla One", "sans-serif";
    font-size: 18px;
    font-weight: bolder;
    color: black;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px #ccc;
  }
}
