$fontfamily: "Roboto Slab", serif;

.movie-item {
  list-style-type: none;
  & h1 {
    font-size: 17px;
    font-family: $fontfamily;
  }

  & h3 {
    font-size: 13px;
    font-family: $fontfamily;
    
    text-decoration:  overline white;
  }

  & img {
    width: 225px;
    border-radius: 10px;
    &:hover {
      box-shadow: 2px 2px 20px black;
    }
  }
}
