$fontfamily: "Roboto Slab", serif;

.movie-item {
  list-style-type: none;
  border-radius: 10%;
  border: 1px solid re;

  &:hover {
    box-shadow: 1px 1px 5px black;
  }

  & h3 {
    font-size: 15px;
    color: red;
    text-decoration: overline white;
    font-family: $fontfamily;
  }

  & img {
    width: 225px;
  }
}