@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.item-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  padding: 15px;

  & img {
    width: 200px;
    border-radius: 15%;
  }

  & .rate {
    display: flex;
    flex-direction: row;
    align-items: center;


    & h2 {
      font-size: 17px;
      width: 30px;
      color: white;
      text-decoration: overline red;
      font-family: "Inconsolata", monospace;
    }
  }
}